<% provide(:title, 'Главная') %>
<% provide(:rew, 'Дом111') %>

<div id="my_car" class="carousel slide" data-ride="carousel">
	<!-- Маркеры слайдов -->
    <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
 
	<!-- Содержимое слайдов -->
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("slider/1.jpg", class: "bike_icon pull-left", alt: "Вызов замерщика") %>
			<div class="carousel-caption">
				<h3>Россия (Москва)</h3>
				<p>Где это видано, чтобы люди в Москве без прописки проживали.</p>
			</div>
		</div>
                     
		<div class="item">
			<%= image_tag("slider/2.jpg", class: "bike_icon pull-left", alt: "Вызов замерщика") %>
			
			<div class="carousel-caption">
				<h3>Осень</h3>
				<p>Осень — это вторая весна, когда каждый лист — цветок.</p>
			</div>
		</div>
                     
		<div class="item">
			<%= image_tag("slider/3.jpg", class: "bike_icon pull-left", alt: "Вызов замерщика") %>
			
			<div class="carousel-caption">
				<h3>Дождь</h3>
				<p>Осень опять идут дожди...</p>
			</div>
		</div>
	</div>
 
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
</div>
 
